body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.card{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.letter{
  font-size: calc(5vh + 5vw);
  color: #fff;
  text-align: center;
  font-family: monospace;
  opacity: 0;
  animation: fadeIn 1s step-end forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}